PROJECT_ROOT='/workspace/terraform-beginner-bootcamp-2023'
AWS_ACCESS_KEY_ID='YOUR AWS ACCESS KEY ID'
AWS_SECRET_ACCESS_KEY='YOUR AWS SECRET ACCESS KEY'
AWS_DEFAULT_REGION='YOUR AWS REGION'
TERRAFORM_CLOUD_TOKEN='YOUR SECRET TERRAFORM CLOUD TOKEN'